body{
    background-color: rgb(215, 148, 119);
    border:solid 4px thistle;
    padding-bottom:  10%;
  }
.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.b{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.margem{
  color: azure;
  border-style: outset;
  width: 600px;
  height: 400px;
  border: double whitesmoke;
  display: flex;
  align-items:center;
  flex-direction: row;
}
.imagem{
  display: flex;
  flex-direction: row;
  height: 500px;
}


